Repository fikryfahrezy/fp-timeline-fe: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint", "prettier --write"],
  "*.{css,md,json,yaml}": "prettier --write"
}

Create README.md
  README.md
Due: prettier --write

refactor: Migrate to UnoCSS and Typescript
  .gitignore
  index.html
  layouts/frame/index.tsx
  package-lock.json
  package.json
  pages/home/index.tsx
  pages/login/Login.module.css
  pages/login/index.jsx
  pages/login/index.tsx
  pages/register/Register.module.css
  pages/register/index.jsx
  pages/register/index.tsx
  src/App.jsx
  src/App.tsx
  src/index.css
  src/logo.svg
  src/main.tsx
  src/svg.d.ts
  src/vite-env.d.ts
  static/icons/change_history.svg
  static/icons/favicon.svg
  static/icons/markunread_mailbox.svg
  static/icons/person_outline.svg
  static/icons/timeline.svg
  tsconfig.json
  tsconfig.node.json
  vite.config.js
  vite.config.ts
Due: eslint, prettier --write

Change icon from svg to React Icon, setup Private Route, and change UnoCSS preset
  .husky/pre-commit
  context/auth.tsx
  index.html
  layouts/frame/index.tsx
  layouts/require-auth/index.tsx
  package-lock.json
  package.json
  pages/history/index.tsx
  pages/login/index.tsx
  pages/not-found/index.tsx
  pages/register/index.tsx
  pages/years/index.tsx
  src/App.tsx
  vite.config.ts
Due: eslint, prettier --write

feat: Add public page
  components/anchor/index.tsx
  components/button/index.tsx
  components/input/index.tsx
  components/label/index.tsx
  context/auth.tsx
  layouts/history-item/edit/Styles.module.css
  layouts/history-item/edit/index.tsx
  layouts/history-item/view/index.tsx
  layouts/protected-frame/index.tsx
  layouts/public-frame/index.tsx
  layouts/require-auth/index.tsx
  layouts/timeline/index.tsx
  layouts/year/edit/index.tsx
  layouts/year/view/index.tsx
  model/timeline.ts
  model/user.ts
  model/year.ts
  package-lock.json
  package.json
  pages/history/index.tsx
  pages/home/index.tsx
  pages/login/index.tsx
  pages/not-found/Styles.module.css
  pages/not-found/index.tsx
  pages/register/index.tsx
  pages/years-edit/index.tsx
  src/App.tsx
  vite.config.ts
Due: eslint, prettier --write

chore: Update eslint config
  .eslintrc.json
  .prettierrc.json
  package-lock.json
  package.json
Due: prettier --write

feat: change project goals
  .eslintrc.json
  components/anchor/index.tsx
  components/button/index.tsx
  components/input/index.tsx
  components/label/index.tsx
  context/auth.tsx
  layouts/history-item-edit/Styles.module.css
  layouts/history-item-edit/index.tsx
  layouts/history-item-view/index.tsx
  layouts/protected-frame/index.tsx
  layouts/public-frame/index.tsx
  layouts/require-auth/index.tsx
  layouts/timeline/index.tsx
  layouts/year/edit/index.tsx
  layouts/year/view/index.tsx
  package-lock.json
  package.json
  pages/history-edit/index.tsx
  pages/home/index.tsx
  pages/login/index.tsx
  pages/register/index.tsx
  pages/years-edit/index.tsx
  pages/years/index.tsx
  pnpm-lock.yaml
  src/App.tsx
Due: prettier --write

feat: change theme color, make content editable, move and remove file, remove dependency
  layouts/history-item-edit/Styles.module.css
  layouts/history-item-edit/index.tsx
  layouts/history-item-view/index.tsx
  model/user.ts
  model/year.ts
  package.json
  pages/history-edit/index.tsx
  pages/history/Date.tsx
  pages/history/HistoryItem.tsx
  pages/history/Timeline.tsx
  pages/history/index.tsx
  pages/history/types.ts
  pages/not-found/index.tsx
  pnpm-lock.yaml
  src/App.tsx
  src/svg.d.ts
  src/vite-env.d.ts
  static/icons/change_history.svg
  static/icons/markunread_mailbox.svg
  static/icons/person_outline.svg
  static/icons/timeline.svg
  vite.config.ts
Due: eslint, prettier --write

feat: dinamically add timeline
  model/timeline.ts
  pages/history/HistoryItem.tsx
  pages/history/Presentation.tsx
  pages/history/Timeline.tsx
  pages/history/constants.ts
  pages/history/index.tsx
  pages/history/types.ts
  pages/history/validator.ts
  src/main.tsx
  uno.config.ts
  vite.config.ts
Due: eslint, prettier --write

update onchange props
  model/timeline.ts
  pages/history/HistoryItem.tsx
  pages/history/index.tsx
  pages/history/types.ts
Due: eslint, prettier --write

make timeline state mutation work
  model/timeline.ts
  pages/history/HistoryItem.tsx
  pages/history/Presentation.tsx
  pages/history/index.tsx
  pages/history/types.ts
Due: eslint, prettier --write

setup websocket connection
  pages/history/index.tsx
Due: none

send timeline to server through websocket
  pages/history/index.tsx
Due: none

use form component instead of 'view' component with `contenteditable`
  pages/history/Description.tsx
  pages/history/HistoryItem.tsx
  pages/history/Timeline.tsx
  pages/history/Title.tsx
  pages/history/constants.ts
  pages/history/index.tsx
  pages/history/types.ts
  pages/history/useWebsocket.ts
  pages/history/validator.ts
Due: eslint, prettier --write

set timeline from other websocket
  pages/history/Date.tsx
  pages/history/Description.tsx
  pages/history/HistoryItem.tsx
  pages/history/Presentation.tsx
  pages/history/Timeline.tsx
  pages/history/Title.tsx
  pages/history/index.tsx
  pages/history/mutator.ts
  pages/history/types.ts
  pages/history/utils.ts
Due: eslint, prettier --write

remove hardcode generated timeline and get from api instead
  pages/history/constants.ts
  pages/history/index.tsx
  pages/history/transformer.ts
  pages/history/types.ts
  pages/history/utils.ts
Due: eslint, prettier --write

add home page for view only timeline
  README.md
  pages/history/HistoryItem.tsx
  pages/history/Presentation.tsx
  pages/history/Timeline.tsx
  pages/history/index.tsx
  pages/history/types.ts
  pages/home/index.tsx
  pages/not-found/index.tsx
  src/App.tsx
  src/main.tsx
Due: eslint, prettier --write

move shareable file to specific folder, fix css, fix mechanism timeline change, send delete event to server
  hooks/mutator.ts
  hooks/transformer.ts
  hooks/types.ts
  hooks/useTimelineManagement.ts
  hooks/useWebsocket.ts
  model/types.ts
  pages/history/Presentation.tsx
  pages/history/Timeline.tsx
  pages/history/TimelineItem.tsx
  pages/history/index.tsx
  pages/history/types.ts
  pages/home/index.tsx
  src/index.css
Due: eslint, prettier --write

refactor: move server url to .env file
  .env.example
  .gitignore
  hooks/useTimelineManagement.ts
  src/vite-env.d.ts
Due: eslint, prettier --write
